export(computegvlma,
       deletion.gvlma,
       display.delstats,
       display.gvlmatests,
       gvlma,
       gvlma.form,
       gvlma.lm,
       plot.gvlma,
       plot.gvlmaDel,
       print.gvlma,
       print.gvlmaDel,
       summary.gvlma,
       summary.gvlmaDel,
       update.gvlma)
